<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coin.name %>
</p>

<p>
  <strong>Value pound:</strong>
  <%= @coin.value_pound %>
</p>

<p>
  <strong>Value pence:</strong>
  <%= @coin.value_pence %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @coin.quantity %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
